<template>
    <v-main>
        <v-app-bar
                app
                dark>
            <v-toolbar-title>
                MosRoza
            </v-toolbar-title>
            <v-divider vertical class="pl-3"/>
            <v-btn>Профиль</v-btn>
            <v-spacer></v-spacer>
            <v-btn>Выход</v-btn>
            <template v-slot:extension>
                <v-tabs
                        align-with-title
                        v-model="tab"
                >
                    <v-tabs-slider color="yellow"></v-tabs-slider>
                    <v-tab
                            v-for="item in items"
                            :key="item.tab"> {{ item.tab }}
                    </v-tab>
                </v-tabs>
            </template>
        </v-app-bar>
        <v-tabs-items v-model="tab">
            <v-tab-item>
                <v-container>
                    <ProductStorage/>
                </v-container>
            </v-tab-item>
            <v-tab-item>
                <!--Заказ-->
                <v-container>
                    <v-expansion-panels>
                        <v-expansion-panel>
                            <v-expansion-panel-header>
                                <h3>Расчеты</h3>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>
                                <OptimalMethod/>
                            </v-expansion-panel-content>
                        </v-expansion-panel>
                        <v-expansion-panel>
                            <v-expansion-panel-header>
                                <h3>Заказать</h3>
                            </v-expansion-panel-header>
                            <v-expansion-panel-content>

                            </v-expansion-panel-content>
                        </v-expansion-panel>
                    </v-expansion-panels>
                </v-container>
            </v-tab-item>
            <v-tab-item>
                <v-container>
                    <SupplierStorage/>
                </v-container>
            </v-tab-item>
            <v-tab-item>
                <v-container>
                    <VerminStorage/>
                </v-container>
            </v-tab-item>
            <v-tab-item>
                <v-container>
                    <!--TODO TEST CALCULATION-->
                </v-container>
            </v-tab-item>
        </v-tabs-items>
    </v-main>

</template>

<script>
    import SupplierStorage from "./SupplierStorage";
    import ProductStorage from "./ProductStorage";
    import OptimalMethod from "./OptimalMethod";
    import VerminStorage from "./VerminStorage";

    export default {
        name: "AgronomPage",
        data: () => ({
            drawer: false,
            group: null,
            tab: null,
            items: [
                {tab: 'Склад'},
                {tab: 'Заказ'},
                {tab: 'Поставщики'},
                {tab: 'Вредитель'},
                {tab: 'Тест'},
            ],
        }),
        components: {
            VerminStorage,
            OptimalMethod,
            ProductStorage,
            SupplierStorage
        },
    }
</script>