<template>
    <v-app-bar
            app
            dark>
        <v-toolbar-title>
            MosRoza
        </v-toolbar-title>
        <v-divider vertical class="pl-3"/>
        <v-btn

                plain
                flat
                tile
                to="/"
        >
            Главная страница
        </v-btn>
        <v-spacer></v-spacer>



        <v-btn

                plain
                flat
                tile
                to="/register"
        >
            Регистрация
        </v-btn>

        <v-btn

                plain
                flat
                tile

                class="text-center"
                to="/login"
        >
            Авторизация
        </v-btn>
        <Login/>
    </v-app-bar>
</template>
<script>
    import Login from '@/components/LoginUser'

    export default {
        components: {
            Login
        }
    }
</script>