<template>
    <v-container>
        <v-card max-width="600">
            <v-toolbar color="primary" flat dark>
                <v-toolbar-title>Авторизация</v-toolbar-title>
            </v-toolbar>
            <v-card-text>
                <v-tabs fixed-tabs v-model="selectedTab">
                    <v-tab>Регистрация</v-tab>
                    <v-tab>Вход</v-tab>
                </v-tabs>
                <v-container fluid>
                    <v-tabs-items v-model="selectedTab">
                        <v-tab-item>
                            <v-card-text>
                                <v-form>
                                    <v-text-field label="Имя пользователя" v-model="userToRegister.username">Имя
                                        пользователя
                                    </v-text-field>
                                    <v-text-field label="Пароль" v-model="userToRegister.password">Пароль</v-text-field>
                                    <v-text-field label="Электронный адрес" v-model="userToRegister.email">Электронная
                                        почта
                                    </v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn text color="primary" @click="register">Зарегистрироваться</v-btn>
                            </v-card-actions>
                        </v-tab-item>
                        <v-tab-item>
                            <v-card-text>
                                <v-form>
                                    <v-text-field label="Имя пользователя" v-model="userToLogin.username">Имя
                                        пользователя
                                    </v-text-field>
                                    <v-text-field label="Пароль" v-model="userToLogin.password">Пароль</v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-btn text color="primary" @click="login">Войти</v-btn>
                            </v-card-actions>
                        </v-tab-item>
                    </v-tabs-items>
                </v-container>
            </v-card-text>
        </v-card>
        <v-snackbar v-model="snackbarIsOpen">
            {{snackbarMessage}}
            <template v-slot:action="{ attrs }">
                <v-btn
                        color="pink"
                        text
                        v-bind="attrs"
                        @click="snackbarIsOpen = false"
                >
                    Закрыть
                </v-btn>
            </template>
        </v-snackbar>
    </v-container>
</template>

<script>
    import {login, register} from "../api/user";
    import router from "../router";

    export default {
        name: "HomePage",
        data() {
            return {
                snackbarMessage: {},
                snackbarIsOpen: false,
                selectedTab: null,
                userToRegister: {},
                userToLogin: {}
            }
        },
        methods: {
            login() {
                login(this.userToLogin)
                    .then(() => this.redirectToAgronomPage())
                    .catch((error) => this.openSnackbar(error.response.data.message))
            },
            register() {
                register(this.userToRegister)
                    .then(() => this.redirectToAgronomPage())
                    .catch((error) => this.openSnackbar(error.response.data.message))

            },
            openSnackbar(message) {
                this.snackbarMessage = message;
                this.snackbarIsOpen = true;
            },
            redirectToAgronomPage() {
                router.push("/agronom")
            }
        }
    }
</script>

<style scoped>

</style>