<template>
    <v-container>
        <v-data-table
                :headers="headersProductOptimalMethod"
                :items="productOptimalMethod"
                :loading="loadingData"
                loading-text="Подождите.. информация загружается"
        />
    </v-container>
</template>


<script>
    import {calculateOptimalMethod} from "../api/calculator";

    export default {
        data: () => ({
            loadingData: false,
            isCreateProductDialogOpen: false,
            productToCreate: {},
            productOptimalMethod:[],
            headersProductOptimalMethod:  [
                {text: 'Название', value: 'productName'},
                {text: 'Цена за единицу товара (без скидки)', value: 'productPrice'},
                {text: 'Оптимальное количество поставки', value: 'optimalOrder'},
                {text: 'Оптимаьная поставка для скидки', value: 'discountBorder'},
                {text: 'Цена товара со скидкой', value: 'discountPrice'},
                {text: 'Растраты при покупке без скидки', value: 'expensesIndicatorWithoutDiscount'},
                {text: 'Растраты при покупке со скидкой', value: 'expensesIndicatorWithDiscount'},
                {text: 'Оптимальная дата заказа', value: 'optimalOrderDate'},
            ],
        }),
        created() {
            this.loadingData = true;
            calculateOptimalMethod().then((response) => {
                this.productOptimalMethod = response.data
                this.loadingData = !this.loadingData;
            });
        },
    }
</script>