<template>
    <v-data-table
            :headers="headers"
            :items="products"
            :items-per-page="5"
            class="elevation-1"
    >
        <template v-slot:top>
            <v-toolbar
                    flat
            >
                <v-toolbar-title>Товары на складе</v-toolbar-title>
                <v-divider
                        class="mx-4"
                        inset
                        vertical
                ></v-divider>
                <v-spacer></v-spacer>
                <v-dialog
                        v-model="dialog"
                        max-width="500px"
                >
                    <template v-slot:activator="{ on, attrs }">
                        <v-btn
                                color="primary"
                                dark
                                class="mb-2"
                                v-bind="attrs"
                                v-on="on"
                        >
                            Добавить продукт
                        </v-btn>
                    </template>
                    <v-card>
                        <v-card-title>
                            <span class="headline">{{ formTitle }}</span>
                        </v-card-title>

                        <v-card-text>
                            <v-container>
                                <v-row>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-text-field
                                                v-model="product.name"
                                                label="Название"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-text-field
                                                v-model="product.quantity.price"
                                                label="Количество"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-combobox
                                                v-model="product.quantity.units"
                                                :items="itemsIzm"
                                                label="Измерения"
                                        ></v-combobox>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-text-field
                                                v-model="product.quantity.expenses"
                                                label="Растраты 1/сут"
                                        ></v-text-field>
                                    </v-col>
                                    <v-col
                                            cols="12"
                                            sm="6"
                                            md="4"
                                    >
                                        <v-combobox
                                                v-model="product.type"
                                                :items="itemsTip"
                                                label="Тип"
                                        ></v-combobox>
                                    </v-col>
                                </v-row>
                            </v-container>
                        </v-card-text>

                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn
                                    color="blue darken-1"
                                    text
                                    @click="close"
                            >
                                Выйти
                            </v-btn>
                            <v-btn
                                    color="blue darken-1"
                                    @click="createProduct"
                            >
                                Сохранить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
                <v-dialog v-model="dialogDelete" max-width="500px">
                    <v-card>
                        <v-card-title class="headline">Вы точно хотите удалить этот элемент ?</v-card-title>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn color="blue darken-1" text @click="dialogDelete = !dialogDelete">Cancel</v-btn>
                            <v-btn color="blue darken-1" text @click="deleteProductConfirm">OK</v-btn>
                            <v-spacer></v-spacer>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </v-toolbar>
        </template>
        <template v-slot:item.actions="{ item }">
            <v-icon
                    small
                    class="mr-2"
                    @click="editItem(item)"
            >
                mdi-pencil
            </v-icon>
            <v-icon
                    small
                    @click="prepareToDeleteProduct(item)"
            >
                mdi-delete
            </v-icon>
        </template>
    </v-data-table>
</template>
<script>
    import {createProduct} from "../api/agroline";
    import {getAllProduct} from "../api/agroline";
    import {deleteProduct} from "../api/agroline";

    export default {
        name: "ProductStorage",
        data: () => ({
            productIdToDelete: 0,
            products: [],
            product: {
                name: "",
                type: "",
                quantity: {
                    expenses: 0,
                    price: 0,
                    units: "кг"
                }
            },
            selectTip: [''],
            itemsTip: [
                'Удобрение',
                'Био.защита',
                'Химикаты'
            ],
            selectIzm: [''],
            itemsIzm: [
                'кг',
                'л',
            ],
            dialog: false,
            dialogDelete: false,
            headers: [
                {text: 'Название', value: 'name'},
                {text: 'Количество', value: 'price'},
                {text: 'Единица Измерения', value: 'units'},
                {text: 'Растраты 1/сут', value: 'expenses'},
                {text: 'Тип вещества', value: 'type'},
                {text: 'Действия', value: 'actions', sortable: false},
            ],
            desserts: [],
            editedIndex: -1,
            editedItem: {
                name: "",
                type: "",
                quantity: {
                    expenses: 0,
                    price: 0,
                    units: "Удобрение"
                }
            },
            defaultItem: {
                name: "",
                type: "",
                quantity: {
                    expenses: 0,
                    price: 0,
                    units: ""
                }
            },
        }),

        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'Новый товар' : 'Изменение Товара'
            },
        },
        created() {
            getAllProduct().then((response) => this.products = response.data);
        },

        methods: {

            createProduct() {
                createProduct(this.product).then((response) => this.products.push(response.data));
                this.close()
            },


            editItem(item) {
                this.editedIndex = this.products.indexOf(item)
                this.editedItem = Object.assign({}, item)
                this.dialog = true
            },

            prepareToDeleteProduct(item) {
                this.productIdToDelete = item.id
                this.dialogDelete = true


            },

            deleteProductConfirm() {
                deleteProduct(this.productIdToDelete).then(() => {
                    let i = this.products.map(product => product.id).indexOf(this.productIdToDelete)
                    this.products.splice(i, 1)
                });
                this.dialogDelete = false
            },

            close() {
                this.dialog = false
                this.$nextTick(() => {
                    this.editedItem = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                })
            },

            save() {
                if (this.editedIndex > -1) {
                    Object.assign(this.products[this.editedIndex], this.editedItem)
                } else {
                    this.products.push(this.editedItem)
                }
                this.close()
            },
        },
    }

</script>