<template>
    <v-container>
        <v-data-table
                :headers="supplierHeaders"
                :items="suppliers"
                item-key="id"
                show-expand
                class="elevation-1"
        >
            <!--Отображение поставщиков-->
            <template v-slot:top>
                <v-toolbar flat>
                    <v-toolbar-title>Таблица поставщиков</v-toolbar-title>
                    <v-spacer/>
                    <v-btn
                            @click="isSupplierCreatingForm = !isSupplierCreatingForm"
                            color="primary"
                    >
                        Добавить поставщика
                    </v-btn>
                </v-toolbar>
            </template>
            <!--Отображение саплаер инфо-->
            <template v-slot:expanded-item="{ headers, item }">
                <td :colspan="headers.length">
                    <v-container>
                        <v-data-table
                                :headers="supplierInfoHeaders"
                                :items="item.supplierInfos"
                                item-key="id"
                                disable-pagination
                                v-if="item.supplierInfos !== null"
                                hide-default-footer
                        />
                    </v-container>
                </td>
            </template>
            <!--Открытие окна для добавления информации о продукте для поставщика-->
            <template v-slot:item.actions="{ item }">
                <v-icon small
                        @click="editSupplier(item)"
                        color="green"
                >
                    mdi-plus
                </v-icon>
                <!--Добавление информации о продукте для поставщика-->
                <v-dialog v-model="isSupplierInfoCreatingForm">
                    <v-card>
                        <v-card-title>
                            Добавление информации о продукте
                        </v-card-title>
                        <v-card-text>
                            <v-form>
                                <v-row>
                                    <v-col cols="16" md="5">
                                        <v-text-field
                                                disabled
                                                :value="item.name"
                                                label="Поставщик"
                                        />
                                    </v-col>
                                    <v-col cols="8" md="1">
                                        <v-container>
                                            <v-icon x-large>
                                                mdi-arrow-left-right
                                            </v-icon>
                                        </v-container>
                                    </v-col>
                                    <v-col cols="16" md="5">
                                        <v-select
                                                :items="products"
                                                item-text="name"
                                                item-value="id"
                                                label="Продукты"
                                                name="products"
                                                v-model="selectedProductToSupplierInfo"
                                                :menu-props="{ maxHeight: '400' }"
                                                color="primary"
                                        />
                                    </v-col>
                                </v-row>
                                <v-text-field
                                        label="Цена поставщика"
                                        v-model="supplierInfoToCreate.supplierPrice"
                                />
                                <v-text-field
                                        label="Цена скидки"
                                        v-model="supplierInfoToCreate.discountPrice"
                                />
                                <v-text-field
                                        label="Предел скидки"
                                        v-model="supplierInfoToCreate.discountBorder"
                                />
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-btn color="primary" @click="createSupplierInfo(item)">
                                Сохранить
                            </v-btn>
                        </v-card-actions>
                    </v-card>
                </v-dialog>
            </template>
        </v-data-table>
        <v-dialog v-model="isSupplierCreatingForm">
            <v-card>
                <!--Панель для добавления поставщика-->
                <v-card-title>
                    Добавление поставщика
                </v-card-title>
                <v-card-text>
                    <v-form>
                        <v-text-field label="Имя" v-model="supplierToCreate.name"/>
                        <v-text-field label="Почта" v-model="supplierToCreate.email"/>
                        <v-text-field label="Телефон" v-model="supplierToCreate.phone"/>
                        <v-text-field label="Адрес" v-model="supplierToCreate.address"/>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn @click="createSupplier" color="primary">
                        Добавить
                    </v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-container>
</template>
<script>
    import {getAllProduct, getAllSupplier} from "../api/agroline";
    import {createSupplier} from "../api/supplier";
    import {createSupplierInfo} from "../api/supplierInfo";

    export default {
        name: "SupplierStorage",
        data() {
            return {
                loaderSupplierInfoCreating: false,
                suppliers: [],
                products: [],
                isSupplierCreatingForm: false,
                isSupplierInfoCreatingForm: false,
                supplierInfoToCreate: {},
                selectedProductToSupplierInfo: {},
                supplierToCreate: {},
                supplierToUpdate: {},
                supplierHeaders: [
                    {text: 'Название', value: 'name'},
                    {text: 'Почта', value: 'email'},
                    {text: 'Телефон', value: 'phone'},
                    {text: 'Адрес', value: 'address'},
                    {text: 'Действия', value: 'actions'}
                ],
                supplierInfoHeaders: [
                    {text: 'Имя продукта', value: 'product.name'},
                    {text: 'Граница скидки', value: 'discountBorder'},
                    {text: 'Цена со скидкой', value: 'discountPrice'},
                    {text: 'Цена поставщика', value: 'supplierPrice'},

                ]
            }
        },
        methods: {
            createSupplier() {
                createSupplier(this.supplierToCreate).then((response) => this.suppliers.push(response.data));
                this.isSupplierCreatingForm = !this.isSupplierCreatingForm;
            },
            createSupplierInfo(supplier) {
                let product = this.products.find(value => value.id === this.selectedProductToSupplierInfo);
                this.supplierInfoToCreate.product = product;
                this.supplierInfoToCreate.supplier = supplier;
                createSupplierInfo(this.supplierInfoToCreate)
                    .then((response) => supplier.supplierInfos.push(response.data))
                    .finally(() =>  {
                        this.isSupplierInfoCreatingForm = !this.isSupplierInfoCreatingForm;
                        this.loaderSupplierInfoCreating = false;
                    })
            },
            editSupplier(supplier) {
                this.supplierToUpdate = supplier;
                this.isSupplierInfoCreatingForm = !this.isSupplierInfoCreatingForm;
            }
        },
        created() {
            getAllSupplier().then((response) => this.suppliers = response.data);
            getAllProduct().then((response) => this.products = response.data);
        },
    }
</script>