<template>
    <v-container>
    <v-data-table
            :headers="headers"
            :items="products"
            :items-per-page="5"
            class="elevation-1"
    ></v-data-table>
    </v-container>
</template>
<script>

   export default {
        data: () => ({
            products: [],
            headers: [
                {
                    text: 'name',
                    value: 'name',
                },
                { text: 'type', value: 'type' },
                { text: 'price', value: 'quantity.price' },
                { text: 'units', value: 'quantity.units' },
                { text: 'expenses', value: 'quantity.expenses' },

            ],

        }),

        methods: {


        }

    }

</script>