<template>
    <v-container>
        <!--Создание вредителей-->
        <v-btn color="primary" @click="openVerminCreateDialog">Создать</v-btn>
        <v-dialog v-model="isVerminCreateDialogShows">
            <v-card>
                <v-card-title>Создание вредителя</v-card-title>
                <v-card-text>
                    <v-form>
                        <v-row>
                            <v-col cols="16" md="5">
                                <v-text-field label="Имя" v-model="verminToCreate.name"></v-text-field>
                            </v-col>
                            <v-col cols="8" md="1">
                                <v-container>
                                    <v-icon x-large>
                                        mdi-arrow-left-right
                                    </v-icon>
                                </v-container>
                            </v-col>
                            <v-col cols="16" md="5">
                                <v-select chips
                                          multiple
                                          label="Продукты"
                                          :items="chemicalProducts"
                                          item-text="name"
                                          item-value="id"
                                          v-model="selectedProductsToVermin"
                                />
                            </v-col>
                        </v-row>
                    </v-form>
                </v-card-text>
                <v-card-actions>
                    <v-btn color="primary" @click="createVermin">Сохранить</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
        <!--Отображение вредителей-->
        <v-expansion-panels class="pt-5">
            <v-expansion-panel v-for="vermin in vermins" :key="vermin.id">
                <v-expansion-panel-header>{{vermin.name}}</v-expansion-panel-header>
                <v-expansion-panel-content>
                    <v-chip-group>
                        <v-chip v-for="product in vermin.products" :key="product.key">
                            {{ product.name }}
                        </v-chip>
                    </v-chip-group>
                </v-expansion-panel-content>
            </v-expansion-panel>
        </v-expansion-panels>
        <!--Кнопка для добавления-->
    </v-container>
</template>

<script>
    import {createVermin, getVermins} from "../api/vermins";
    import {search} from "../api/agroline";

    export default {
        name: "VerminStorage",
        data() {
            return {
                isVerminCreateDialogShows: false,
                vermins: [],
                verminToCreate: {},
                selectedProductsToVermin: [],
                chemicalProducts: []
            }
        },
        methods: {
            createVermin() {
                this.verminToCreate.products = this.selectedProductsToVermin.map(productId => this.chemicalProducts.find(product => product.id === productId));
                createVermin(this.verminToCreate).then(response => {
                    this.vermins.push(response.data);
                    this.isVerminCreateDialogShows = !this.isVerminCreateDialogShows
                });
            },
            openVerminCreateDialog() {
                search("CHEMICALS").then((response) => this.chemicalProducts = response.data);
                this.isVerminCreateDialogShows = !this.isVerminCreateDialogShows;
            }
        },
        created() {
            getVermins().then((response) => this.vermins = response.data);
        }
    }
</script>

<style scoped>


</style>